<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>

</head>

<body>
    <div class="container">
        <h1>Madhurai Netralayam</h1>
        <p class="information"> <%= information2 %> </p>
        <p class="information"> <a href="/testurl">jwt validate</a> </p>
        <p class="information"> <a href="/">logout</a> </p>
    </div>
</body>


</html>